<header class="header">
  <div class="header-container">
    <nav class="nav">
      <a class="header-logo" href="./index.html">
        <svg class="header-icon" width="123" height="16">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="" class="nav-link">About us</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Our courses</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Our mentors</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Reviews</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">contacts</a>
        </li>
      </ul>

      <ul class="header-link">
        <li class="header-nav-item">
          <a href="" class="header-nav-link">Sign up </a>
        </li>
      </ul>
      <div class="menu-icon">
        <ul class="menu-icon-list">
          <li class="menu-icon-link">
            <a href="">
              <svg class="menu-icon-camera" width="16" height="16">
                <use href="../img/icons.svg#icon-camera"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <button class="open-menu">
        <svg class="open-menu-icon" width="32" height="22">
          <use href="../img/icons.svg#icon-Nav"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
<div class="mobile-menu">
  <button class="close-menu">
    <svg class="close-menu-icon" width="40" height="40">
      <use href="../img/icons.svgz#icon-x-icon"></use>
    </svg>
  </button>
  <ul class="mobile-menu-list">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">About us</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Our courses</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Our mentors</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Reviews</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">contacts</a>
    </li>
  </ul>
</div>
