<section class="mentors">
    <div class="container">
        <h2 class="mentors-title">Our <span class="accent">Mentors</span></h2>
        <ul class="mentors-list">
            <li class="mentors-item">
                <img
            srcset="../img/mentors/girl 1_1x.jpg, ../img/mentors/girl 1_2x.jpg"
              src="../img/mentors/girl 1_1x.jpg"
              alt="Emilia Smith"
              width="180"
              height="180"
              class="mentors-image"
            />
                <h3 class="mentors-subtitle">Emilia Smith</h3>
                    <p class="mentors-text">1.5 years of experience</p>
            </li>
            <li class="mentors-item">
                <img
            srcset="../img/mentors/boy 1_1x.jpg, .../img/mentors/boy 1_2x.jpg"
              src="../img/mentors/boy 1_1x.jpg"
              alt="Alex Lebedev"
              width="180"
              height="180"
              class="mentors-image"
            />
                <h3 class="mentors-subtitle">Alex Lebedev</h3>
                    <p class="mentors-text">3.5 years of experience</p>
            </li>
            <li class="mentors-item">
                <img
            srcset="../img/mentors/girl 2_1x.jpg, ../img/mentors/girl 2_2x.jpg"
              src="../img/mentors/girl 2_1x.jpg"
              alt="Mia Dubrovska"
              width="180"
              height="180"
              class="mentors-image"
            />
                <h3 class="mentors-subtitle">Mia Dubrovska</h3>
                    <p class="mentors-text">2.0 years of experience</p>
            </li>
            <li class="mentors-item">
                <img
            srcset="../img/mentors/boy 2_1x.jpg, ../img/mentors/boy 2_2x.jpg"
              src="../img/mentors/boy 2_1x.jpg"
              alt="Eliot Kovalev"
              width="180"
              height="180"
              class="mentors-image"
            />
                <h3 class="mentors-subtitle">Eliot Kovalev</h3>
                    <p class="mentors-text">4.0 years of experience</p>
            </li>
        </ul>
    </div>
</section>