<section class="reviews section" id="reviews">
  <div class="reviews-wrapper container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-card">
      <li class="reviews-items">
        <div class="reviews-items-item">
          <picture>
            <source
              srcset="
                /img/reviews/user_1_1x.webp 1x,
                /img/reviews/user_1_2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /img/reviews/user_1_1x.jpg 1x,
                /img/reviews/user_1_2x.jpg 2x
              "
            />
            <img
              class="reviews-image"
              src="./img/reviews/user_1_1x.jpg"
              alt="student-one"
              width="56"
              height="56"
            />
          </picture>

          <div class="reviews-name">
            <h3 class="reveiews-student-name">Abraham Baker</h3>
            <p class="reveiews-name-subtitle">Student</p>
          </div>

          <div class="reviews-rank">
            <svg class="reviews-star" width="16" height="16">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
            <svg class="reviews-star" width="16" height="16">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
            <svg class="reviews-star" width="16" height="16">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="reviews-star" width="16" height="16">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
            <svg class="reviews-star-none" width="16" height="16">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </div>
        </div>

        <div class="reviews-description">
          <p>
            I am very pleased that I decided to enroll in photography school.
            The teachers turned out to be very talented and experienced
            professionals who share their knowledge and are dedicated to their
            work. I was able to expand my skills and discover my own style.
          </p>
        </div>
      </li>

      <li class="reviews-items desktop">
        <div class="reviews-items-item">
          <picture>
            <source
              srcset="
                /img/reviews/user_2_1x.webp 1x,
                /img/reviews/user_2_2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /img/reviews/user_2_1x.jpg 1x,
                /img/reviews/user_2_2x.jpg 2x
              "
            />
            <img
              class="reviews-image"
              src="./img/reviews/user_2_1x.jpg"
              alt="student-one"
              width="56"
              height="56"
            />
          </picture>

          <div class="reviews-name">
            <h3 class="reveiews-student-name">Amanda Lowery</h3>
            <p class="reveiews-name-subtitle">Student</p>
          </div>
          <div class="reviews-rank">
            <svg class="reviews-star" width="16" height="16">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="reviews-star" width="16" height="16">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="reviews-star" width="16" height="16">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="reviews-star" width="16" height="16">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="reviews-star-none" width="16" height="16">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </div>
        </div>
        <div class="reviews-description">
          <p>
            The courses at the photography school exceeded all my expectations.
            I gained not only technical knowledge, but also inspiration and
            motivation to reach new heights in my creativity. Hands-on classes
            and workshops helped me understand different styles of photography.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
